.footer {
    background-color: #000000;
    color: #FFFFFF;
    height: 209px;
    width: 100%;
    margin-top: 50px;
    gap: 28.56px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .logo-footer {
        width: 122px;
        height: 39.4px;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 100%;
            height: auto;
            filter: brightness(0) invert(1);
        }
    }
}