.gallery {
    max-width: 1240px;
    border-radius: 25px;
    background-color: #F6F6F6;
    padding: 56px 50px 56px 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 50px;
    row-gap: 60px;
}